.drawIcon{
	background-repeat:no-repeat;
	height:16px;
	min-width:16px;
	text-align:center;
	width:16px;
}
.drawIcon { background-image:url(images/icons.gif); }
.ShowCallouts{ background-position:0px 0px; }
.PreviousCallout{ background-position:0px -16px; }
.NextCallout{ background-position:0px -32px; }
.drawIconLead{ background-position:0px -48px; }
.drawIconUnderline{ background-position:0px -64px; }
.drawIconSingleArrow{ background-position:0px -80px; }
.drawIconBrace{ background-position:0px -96px; }
.drawIconDoubleArrow{ background-position:0px -112px; }
.drawIconPreexisting{ background-position:0px -128px; }
