@import url("../dojotoolkit/dojo/resources/dojo.css");
@import url("../dojotoolkit/dijit/themes/dijit.css");
@import url("../dojotoolkit/dijit/themes/tundra/layout/BorderContainer.css");
@import url("../dojotoolkit/dijit/themes/tundra/layout/ContentPane.css");
@import url("../dojotoolkit/dijit/themes/tundra/tundra.css");

html, body, #main{
	width: 100%;	/* make the body expand to fill the visible window */
	height: 100%;
	overflow: hidden;	/* erase window level scrollbars */
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	font: 10pt Arial,Myriad,Tahoma,Verdana,sans-serif;
}


/* layout */
#upgradeBar{
	height:26px;
}
#upgradeBar .dojoxExpandoTitle{
	display:none;
}
#navMenu{
}
#toolPane{
	width:60px;
	background:#cccccc;
}
#drawingPane{
	
}
#helpPane{
	width:300px;
}
#helpInputPane{
	height:70px;
}
#helpPane .dojoxExpandoTitle{
	background:#ccc;
	position:relative;
	height:0;
}
#helpPane .dojoxExpandoIcon{
	left:0;
	cursor:pointer;
	width:20px;
	height:30px;
	margin:4px 0 0 -25px;;
	border:1px solid #999;
}
